{% extends 'index.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% block text %}
    <h2>We offer the following services</h2>
    <h4>AI Automation Services</h4>

    <p>One of the dirtiest secrets of today's business world is that many of the operations of your business can be automated using AI.</p>
    <p>Many businesses oput there are still prisoner to the 1970s protocols and rules.</p>
    <p>But the world has changed, and there is no need to stick to outdated paradigms</p>
    <p>Because every little bit matters when you want that edge over your competitors</p>
    <p> Cut your personnel costs and maintain your edge while allowing the bleeding edge of innovation into your life</p>
    <p>AI HR Services</p>
    <p>Automate your recruitment and HR processes. Solving problems before they occur</p>
    <p>HI Accounting</p>
    <p>AI Marketing</p>
    <p>Marketing strategies built for your business, using the bleeding edge of AI and marketing sciences</p>
    <p>AI Payroll</p>
    <p>Automated payroll services directly plugged into your Business Systems.</p>
    <p>AI Sales</p>
    {% endblock %}

{% endblock %}
