{% extends 'base.html.twig' %}

{% block content %}
<div class="relative z-10 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <!-- Logo Center -->
    <div class="flex justify-center mb-16">


        <h1 class="text-2xl sm:text-3xl font-bold metallic-text text-center">Payments</h1><br/>


        </div>
    <p>Settle your account here</p>
    <p></p>
    <p></p>
    </div>
{% endblock %}


